.fractions h1 {
    color: darkred;
}

.fractions #fraction {
    border-style: solid;
    border-color: darkgreen;
}

.fractions div {
    display: none;
}

.error div.error {
    display: inline;
}

span {
    color: red;
}

.success div.success {
    color: green;
    display: inline;
}
